body{
  font-size: 12pt;
  color: #000000;
  zoom: 1.0;
  padding-top: 70px;
}

h1{
  font-size: 18pt;
  font-weight: bold;
  background-color: #0000cc;
  color: #ffffff;
  padding: 3px;
}

.header{
  font-size: 30pt;
  font-weight: bold;
  background-color: #808080;
  color: #ffffff;
  padding: 8px;
}

.bottomRightThick{
  border-bottom: 1px black solid;
  border-right: 1px black solid;
}

.bottomLeftThick{
  border-bottom: 1px black solid;
  border-left: 1px black solid;
}

.topRightThick{
  border-top: 1px black solid;
  border-right: 1px black solid;
}

.topleftThick{
  border-top: 1px black solid;
  border-left: 1px black solid;
}

.topThick{
  border-top: 1px black solid;
}

.bottomThick{
  border-bottom: 1px black solid;
}

.rightThick{
  border-right: 1px black solid;

}

.leftThick{
  border-left: 1px black solid;
}

.row {
  clear:both;
}

.square li{
  float: left;
  list-style: none;
  margin: 0px;
}

.square input{
  font-size: 17pt;
  width: 30px;
  height: 30px;
}

.graySquare{
  background-color:#C0C0C0
}
