body{
  font-size: 12pt;
  color: #000000;
  zoom: 1.0;
  padding-top: 70px;
}

h1{
  font-size: 18pt;
  font-weight: bold;
  background-color: #808080;
  color: #ffffff;
  padding: 3px;
}

.header{
  font-size: 30pt;
  font-weight: bold;
  background-color: #808080;
  color: #ffffff;
  padding: 8px;
}


.row {
  clear:both;
}

.square li{
  float: left;
  list-style: none;
  margin: 0px;
}

.square input{
  font-size: 15pt;
  width: 30px;
  height: 30px;
}

.graySquare{
  background-color:#C0C0C0
}
