
@main("白黒"){
  <script src="@routes.Assets.versioned("javascripts/shirokuroScript.js")" type="text/javascript"></script>
  <form action="" method="POST">
    <img src="@routes.Assets.versioned("images/board.png")" id="board" width="400" height="400" style="position:relative"></img>
    <div id="stone"></div>
  </form>
  <form action="" method="POST">
    <div>
      <input type="button" id="comButton" name="comButton" width="161"
      height="100" class="btn btn-primary" value="COM">
      <input type="button" id="backButton" name="backButton" width="161"
      height="100" class="btn btn-primary" value="一つ戻る">
      <input type="button" id="restartButton" name="restartButton" width="161"
      height="100" class="btn btn-primary" value="最初から">
    </div>
  </form>

  プレイヤー：黒<span id="blackStoneNum">2</span>、COM：白<span id="whiteStoneNum">2</span><br>
  COMボタンを押すことで相手のターンとなります。<br>

}
