@main("トップページ"){
  <script src="@routes.Assets.versioned("javascripts/topScript.js")" type="text/javascript"></script>
  <h1>このサイトについて</h1>
  本サイトはWebアプリケーション開発の練習のため作成されました。<br>
  <h2><a href="\">Top</a></h2>
  このサイトの説明が載っています。
  <h2><a href="\registration">User</a></h2>
  なんちゃってユーザー登録が可能です。<br>
  データベースで何かやろうとした結果生まれました。<br>
  暗号化を行っていないため普段使用しないユーザネーム、パスワードを使用してください。<br>
  以下二つのページにはなんちゃってユーザー認証がかけてあります。<br>
  ユーザー認証の際にパスワードがディスプレイに露見します。<br>
  またユーザー認証を通らずともURLを指定することで入れてしまいます。
  <h2><a id="numpla2">Num_place</a></h2>
  ナンバープレースの問題を自動で解くページです。<br>
  仮置きが必要な問題には対応しておりません。
  <h2><a id="shirokuro2">Shirokuro</a></h2>
  白黒ゲームです。
}
